# <center> 9.Python SETS

https://www.w3schools.com/python/python_sets.asp

### Set Items
* Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
* Unordered means that the items in a set do not have a defined order.

* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.

* Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed
* Sets cannot have two items with the same value.

In [1]:
myset= {"apple","banana","cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

### Set:

* Sets are used to store multiple items in a single variable.

* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

* A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)
#Sets cannot have two items with the same value.

{'apple', 'cherry', 'banana'}

In [ ]:
Get the Length of a Set
To determine how many items a set has, use the len() function.

In [4]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types
Set items can be of any data type:

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [6]:
# A set can contain different data types:.A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [7]:
print(type(set1))

<class 'set'>

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [12]:
set1= set(("apple","banana","cherry"))
print(set1)

{'apple', 'cherry', 'banana'}

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# <center> Python - Access Set Items

Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [13]:
thisset = {"apple", "banana", "cherry"}

for i in thisset:
    print(i)

apple
cherry
banana

In [14]:
###Example

#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Change Items
Once a set is created, you cannot change its items, but you can add new items.

# <center> Python - Add Set Items

Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [15]:
# Add an item to a set, using the add() method:

set1 = {"apple", "banana", "cherry"}

set1.add("Mango")
print(set1)

{'apple', 'Mango', 'cherry', 'banana'}

In [ ]:
## Add Sets
To add items from another set into the current set, use the update() method.

In [16]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}
set1.update(set2)
print(set1)

{'papaya', 'apple', 'cherry', 'mango', 'banana', 'pineapple'}

### Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = ["pineapple", "mango", "papaya"]

set1.update(set2)
print(set1)

{'apple', 'cherry', 'mango', 'pineapple', 'papaya', 'banana'}

# <center> Python - Remove Set Items

Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [19]:
s1 = {"apple", "banana", "cherry"}
s1.remove('banana')
print(s1)

{'apple', 'cherry'}

Note: If the item to remove does not exist, remove() will raise an error.

In [ ]:
Example
Remove "banana" by using the discard() method:

In [20]:
s1 = {"apple", "banana", "cherry"}
s1.discard("apple")
print(s1)

{'cherry', 'banana'}

In [22]:
s1 = {"apple", "banana", "cherry"}
s1.discard("Mango")           # Mango is not pesent in the list, It wont throw any error
print(s1)

{'apple', 'cherry', 'banana'}

In [ ]:
Note: If the item to remove does not exist, discard() will NOT raise an error.


You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
# Example
Remove the last item by using the pop() method:

In [24]:
s1 = {"apple", "banana", "cherry"}
x=s1.pop()
print(x)
print(s1)

apple
{'cherry', 'banana'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
## Example

The clear() method empties the set:

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [26]:
# Example
 # The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# <center> Python - Loop Sets

In [ ]:
Loop Items
You can loop through the set items by using a for loop:

In [32]:
s1= {"mango","Data wrangling",'Data','MLOPS'}

for i in s1:
    print(i)

mango
Data
Data wrangling
MLOPS

In [34]:
s1= {5,7,9,1,2,3,4,5}

for i in s1:
    print(i)

1
2
3
4
5
7
9

# <center> Python - Join Sets

### Join Two Sets

* There are several ways to join two or more sets in Python.

* You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
## Example
The union() method returns a new set with all items from both sets:

In [36]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3= set1.union(set2)
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [ ]:
### Example
The update() method inserts the items in set2 into set1:

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'b', 'a'}

Note: Both union() and update() will exclude any duplicate items.

### Keep ONLY the Duplicates:

The intersection_update() method will keep only the items that are present in both sets.

In [38]:
x= {"apple","banana","cherry"}
y= {'google',"microsoft","apple"}

x.intersection_update(y)
print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.intersection(y)
print(z)

{'apple'}

### Keep All, But NOT the Duplicates:

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'banana', 'google'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [42]:
# Example

# Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'cherry', 'banana'}

# <center> Python - Set Methods

### 1. Set add() Method

In [ ]:
Definition and Usage
The add() method adds an element to the set.

If the element already exists, the add() method does not add the element.

In [43]:
# Add an element to the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'apple', 'cherry', 'banana'}

In [44]:
#Try to add an element that already exists:

fruits = {"apple", "banana", "cherry"}

fruits.add("apple")

print(fruits)

{'apple', 'cherry', 'banana'}

### 2. Set clear() Method

In [ ]:
Definition and Usage
The clear() method removes all elements in a set.

In [45]:
# Remove all elements from the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

### 3. Set copy() Method

In [ ]:
Definition and Usage
The copy() method copies the set

In [46]:
# Copy the fruits set:

fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'cherry', 'banana'}

### 4. Set difference() Method

Definition and Usage
The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

Return a set that contains the items that only exist in set x, and not in set y:

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.difference(y)
print(z)

{'banana', 'cherry'}

In [48]:
# Reverse the first example. Return a set that contains the items that only exist in set y, and not in set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

### 5. Set difference_update() Method

Definition and Usage
The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

### 6. Set discard() Method

Definition and Usage
The discard() method removes the specified item from the set.

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [50]:
#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

### 7. Set intersection() Method

Definition and Usage
The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [51]:
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [52]:
# Compare 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

### 8. Set intersection_update() Method

Definition and Usage
The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [53]:
#Remove the items that is not present in both x and y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [54]:
#Compare 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

### 9. Set isdisjoint() Method

Definition and Usage
The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [55]:
#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [56]:
# What if no items are present in both sets?

# Return False if one ore more items are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

### 10.Set issubset() Method

Definition and Usage
The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [57]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [59]:
#What if not all items are present in the specified set?

#Return False if not all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}
z = x.issubset(y)
print(z)

False

### 11. Set issuperset() Method

Definition and Usage
The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [60]:
# Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [61]:
# Example
# What if not all items are present in the specified set?

# Return False if not all items in set y are present in set x:

x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

False

### 12. Set pop() Method

In [ ]:
Definition and Usage
The pop() method removes a random item from the set.

This method returns the removed item.

In [62]:
#Remove a random item from the set:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'cherry', 'banana'}

In [63]:
# Return the removed element:

fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

apple

In [ ]:
Note: The pop() method returns removed value.

### 13. Set remove() Method

### Definition and Usage:

* The remove() method removes the specified element from the set.

* This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [64]:
# Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

### 14. Set symmetric_difference() Method

Definition and Usage:

The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

In [65]:
# Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'cherry', 'banana'}

### 15. Set symmetric_difference_update() Method

Definition and Usage
The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [66]:
# Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

### 16. Set union() Method

Definition and Usage
The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

In [67]:
# Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'apple', 'cherry', 'banana', 'google'}

In [69]:
#Unify more than 2 sets:

x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'c', 'f', 'e', 'b', 'd', 'a'}

### 17. Set update() Method

Definition and Usage
The update() method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [70]:
# Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'apple', 'cherry', 'banana', 'google'}